<launch>

    <!-- Run simulator -->
    <include file="$(find simulator)/launch/sim.launch" />

    <!-- Motion planning algorithm -->
    <include file="$(find sf_tracker)/launch/planning.launch" />

    <!-- Fake tracker -->
    <node name="tracker" pkg="simulator" type="target" >
        <param name="velocity" value="1.5" type="double" />
        <param name="initial_x" value="0.7" type="double" />
        <param name="initial_y" value="0.9" type="double" />
    </node>

    <!-- Show Rviz -->
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find simulator)/rviz/rviz.rviz" />

</launch>
