<launch>
    <!-- Run the real-world robot -->
    <include file="$(find roborts_base)/launch/base.launch" />

    <!-- Run Lidars -->
    <include file="$(find real_world)/launch/lidar.launch" />

    <!-- Motion planning algorithm -->
    <include file="$(find sf_tracker)/launch/planning.launch" />

    <!-- Camera -->
    <node name="camera" pkg="real_world" type="camera.py" output="screen" />
    
    <!-- YOLOv6 -->
    <node name="detector" pkg="real_world" type="detector.py" output="screen" />

    <!-- Show Rviz -->
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find real_world)/rviz/rviz.rviz" />
    
</launch>
